
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">

    <div class="form-group" style="overflow-y:auto;">

        @if (Model.Count > 0)
        {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Title</th>
                        <th>Remarks</th>
                        <th colspan="12">KPI Value</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label>
                                    @item.Excel_Department.Name
                                </label>
                                <label type="hidden" value="@item.Id" />
                            </td>
                            <td>
                                <label>
                                    @item.Title
                                    <label type="hidden" value="@item.Row" />
                                </label>
                            </td>
                            <td>
                                <label>@item.Remarks</label>
                            </td>
                             
                            <th>@item.Jan</th>

                            <th>@item.Feb</th>

                            <th>@item.Mar</th>

                            <th>@item.Apr</th>

                            <th>@item.May</th>

                            <th>@item.Jun</th>

                            <th>@item.Jul</th>

                            <th>@item.Aug</th>

                            <th>@item.Sep</th>

                            <th>@item.Oct</th>

                            <th>@item.Nov</th>

                            <th>@item.Dec</th>


                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>