@model KPI_APP.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
  
@using (Ajax.BeginForm("ResetPassword", "Account",
    new AjaxOptions { HttpMethod = FormMethod.Post.ToString() },
    new { @class = "form-signin", role = "form" }))
{
    <div class="card">
        <div class="card-body">
            @Html.AntiForgeryToken()
            <h4 class="text-center">Reset your password</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-label-group">
                <i class="fa fa-envelope"></i> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            </div>
            <div class="form-label-group">
                <i class="fa fa-key"></i> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            </div>
            <div class="form-label-group">
                <i class="fa fa-key"></i> @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            </div>
            <br />
            <div class="form-label-group">
                <button class="btn btn-lg btn-warning btn-block" type="submit"><i class="fa fa-sign-in-alt"></i> Reset</button> 
            </div>
        </div>
    </div>
}

 